.header__logo { 
 margin-left: 95px; 
 margin-top: 45px;   
}   

.main-nav { 
 margin-left: 478px; 
 margin-top: -29px;  
 display:flex;     
}  

.nav__link {  
color:#212121;  
font-family:"Open Sans";  
font-weight:"Semibold";    
font-size: 20px;  
margin-left: 25px; 
}    
.nav__link--active { 
 font-weight:bold;  
}  
.search { 
  margin-left: 1150px;  
  font-size: 19px; 
  margin-top: -29px;
 } 
.important {  
 background-image:url(../img/background.jpg) ;  
 background-repeat: no-repeat; 
 background-size:100%;
 margin-top: 45px;
 height: 657px;   
 padding-top: 165px; 
} 
.important h1 {  
 margin-left: 258px;   
 color:#fff; 
 font-size: 60px; 
 font-weight:"Semibold"; 
 padding-bottom: 25px;
}  
.important span {  
    color:#fff;   
    font-size: 22px;
    margin-left: 398px;
}  
.main__actions {  
 margin-top: 90px;
 margin-left: 410px;  
}

  .header__arrow { 
      background:red;
  }
  button { 
  width: 200px;   
  height: 75px; 
  color:#fff; 
  font-size: 20px;  
  margin-left: 15px;
  } 
   .button__transparent { 
   border:2px solid #fff; 
   background: transparent
  } 
  .button__green {  
    background: #00897b;  
    border:none; 
  }